/*h1{color:red;}*/
h1{
	font-size:150%;
	margin:0;
       
      
}

h2{
	font-size:200%;
	margin:0;
       
      
}
h2 { color: orangered; }

p.sample1{color: #66cdaa;}
p.sample2{color: #f36791;}
p.sample3{color: double 10px #0000ff;}
p.sample4{color: #00ffff;}
